n8n-workflow.json
{
  "id": "throne-booking-001",
  "name": "THRONE Barbershop — Booking Automation",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "throne-booking",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "d1a1a1a1-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [250, 400],
      "webhookId": "throne-booking",
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({status: 'ok', message: 'Booking received', id: Date.now()}) }}"
      },
      "id": "d1a1a1a1-0001-0001-0001-000000000002",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [550, 200],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8179739153:AAGMZ-DJ7_z5C94OKLog1i1o-CrFLd7hYUM/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": 6142738399,\n  \"parse_mode\": \"HTML\",\n  \"text\": \"🔔 <b>New Booking!</b>\\n\\n👤 <b>Client:</b> {{ $json.body.client_name }}\\n📱 <b>Phone:</b> {{ $json.body.client_phone }}\\n📧 <b>Email:</b> {{ $json.body.client_email }}\\n\\n✂️ <b>Service:</b> {{ $json.body.service }} (€{{ $json.body.price }})\\n⏱ <b>Duration:</b> {{ $json.body.duration }} min\\n🧑‍🎨 <b>Master:</b> {{ $json.body.master }}\\n📅 <b>Date:</b> {{ $json.body.date }}\\n🕐 <b>Time:</b> {{ $json.body.time }}\\n\\n{{ $json.body.allergens && $json.body.allergens.length > 0 ? '⚠️ <b>Allergens:</b> ' + $json.body.allergens.join(', ') : '' }}{{ $json.body.notes ? '\\n📝 <b>Notes:</b> ' + $json.body.notes : '' }}\"\n}",
        "options": {}
      },
      "id": "d1a1a1a1-0001-0001-0001-000000000003",
      "name": "TG — Notify Master",
      "type": "n8n-nodes-base.httpRequest",
      "position": [550, 400],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8179739153:AAGMZ-DJ7_z5C94OKLog1i1o-CrFLd7hYUM/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": 6142738399,\n  \"parse_mode\": \"HTML\",\n  \"text\": \"✅ <b>Booking Confirmed!</b>\\n\\nDear {{ $json.body.client_name }},\\n\\nYour appointment at <b>THRONE</b> is confirmed:\\n\\n✂️ {{ $json.body.service }}\\n🧑‍🎨 {{ $json.body.master }}\\n📅 {{ $json.body.date }}\\n🕐 {{ $json.body.time }}\\n💰 €{{ $json.body.price }}\\n\\nYou will receive reminders:\\n📩 24h before\\n📩 1h before\\n\\nSee you at THRONE! 👑\"\n}",
        "options": {}
      },
      "id": "d1a1a1a1-0001-0001-0001-000000000004",
      "name": "TG — Confirm Client",
      "type": "n8n-nodes-base.httpRequest",
      "position": [550, 600],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "id": "d1a1a1a1-0001-0001-0001-000000000005",
      "name": "Wait 24h",
      "type": "n8n-nodes-base.wait",
      "position": [800, 400],
      "typeVersion": 1.1,
      "webhookId": "wait-24h-throne"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8179739153:AAGMZ-DJ7_z5C94OKLog1i1o-CrFLd7hYUM/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": 6142738399,\n  \"parse_mode\": \"HTML\",\n  \"text\": \"📅 <b>Reminder — Tomorrow!</b>\\n\\nHi {{ $json.body.client_name }},\\n\\nYour appointment at <b>THRONE</b> is tomorrow:\\n\\n✂️ {{ $json.body.service }} with {{ $json.body.master }}\\n🕐 {{ $json.body.time }}\\n📍 123 King Street\\n\\nSee you there! 👑\"\n}",
        "options": {}
      },
      "id": "d1a1a1a1-0001-0001-0001-000000000006",
      "name": "TG — 24h Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1050, 400],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "id": "d1a1a1a1-0001-0001-0001-000000000007",
      "name": "Wait 1h",
      "type": "n8n-nodes-base.wait",
      "position": [1300, 400],
      "typeVersion": 1.1,
      "webhookId": "wait-1h-throne"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8179739153:AAGMZ-DJ7_z5C94OKLog1i1o-CrFLd7hYUM/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": 6142738399,\n  \"parse_mode\": \"HTML\",\n  \"text\": \"⏰ <b>1 Hour Reminder!</b>\\n\\nHi {{ $json.body.client_name }},\\n\\nYour appointment at <b>THRONE</b> is in 1 hour!\\n\\n✂️ {{ $json.body.service }} with {{ $json.body.master }}\\n🕐 {{ $json.body.time }}\\n📍 123 King Street\\n\\nPlease be in the chair on time! 👑\"\n}",
        "options": {}
      },
      "id": "d1a1a1a1-0001-0001-0001-000000000008",
      "name": "TG — 1h Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1550, 400],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8179739153:AAGMZ-DJ7_z5C94OKLog1i1o-CrFLd7hYUM/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": 6142738399,\n  \"parse_mode\": \"HTML\",\n  \"text\": \"🧾 <b>E-Receipt — THRONE</b>\\n\\n━━━━━━━━━━━━━━━\\n\\n👤 {{ $json.body.client_name }}\\n📅 {{ $json.body.date }} at {{ $json.body.time }}\\n\\n✂️ {{ $json.body.service }}\\n🧑‍🎨 Master: {{ $json.body.master }}\\n⏱ Duration: {{ $json.body.duration }} min\\n\\n━━━━━━━━━━━━━━━\\n💰 <b>TOTAL: €{{ $json.body.price }}</b>\\n━━━━━━━━━━━━━━━\\n\\nThank you for visiting THRONE! 👑\\nWe hope to see you again soon.\"\n}",
        "options": {}
      },
      "id": "d1a1a1a1-0001-0001-0001-000000000009",
      "name": "TG — E-Receipt",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1550, 600],
      "typeVersion": 4.2
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "Respond OK", "type": "main", "index": 0 },
          { "node": "TG — Notify Master", "type": "main", "index": 0 },
          { "node": "TG — Confirm Client", "type": "main", "index": 0 },
          { "node": "Wait 24h", "type": "main", "index": 0 }
        ]
      ]
    },
    "Wait 24h": {
      "main": [
        [
          { "node": "TG — 24h Reminder", "type": "main", "index": 0 }
        ]
      ]
    },
    "TG — 24h Reminder": {
      "main": [
        [
          { "node": "Wait 1h", "type": "main", "index": 0 }
        ]
      ]
    },
    "Wait 1h": {
      "main": [
        [
          { "node": "TG — 1h Reminder", "type": "main", "index": 0 },
          { "node": "TG — E-Receipt", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
